.Display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 650px;
    max-height: 80vh;
    max-width: 80vw;
    align-items: flex-end;
    div {
        display: flex;
        width: 33%;
        @media screen and (max-width: 630px){
            width: 100%;
            margin: 0 auto;
        }
        &.needs {
            img {
                text-align: center;
            }
        }
        &.partner {
            .sprite {
                align-self: center;
                margin: 0 auto;
            }
            .baby {
                margin-left: 50%;
            @media screen and (max-width: 630px){
                margin: 0 auto;
            }
                height: 120px;
            }
        }
        &.wastePiles {
            margin: 0 auto;
            width: 120px;
            text-align: center;
            .waste {
                height:40px;
            }
        }
    }
}